.fashion-box {
    display: flex;
    width: 930px;
    max-width: 960px;
    min-height: 443px;
    background-color: #FFF;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12),
                0 1px 4px rgba(0, 0, 0, 0.24);
    padding: 57px 50px 15px 50px; // Add Responsive behavior
    
    & > .avatar {
        position: relative;
        display: flex;
        flex: 0 0 40%;
        overflow: hidden;
    }
    
    & > .description {
        position: relative;
        flex: 0 0 60%;
    }
}
