app-root {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    flex: 0 0 100vw;
    box-sizing: border-box;
    padding-top: 50px;

    @include respond-to('md') {
        align-items: center;
    }
}