$aqua-marine: #2bc3b1;
$black: #000;
$blue-dark: #006990;
$blue-mid: #277d9a;
$blue-romance: #c9f4e1;
$blue: #0094d0;
$cerulean: #0094d0;
$deep-cerulean: #0077a7;
$foam: #ebfdf6;
$green-dark: #297e92;
$green: #5fa586;
$green-light: #66b449;
$grey-dark: #565656;
$grey-darker: #575757;
$grey-light: #ccc;
$grey-lighter: #f8f8f8;
$grey-medium: #a4a4a4;
$grey: #777;
$hummin-bird: #dafaec;
$mine-shaft: #313131;
$pacific-blue: #0094d0;
$pale-grey: #edf2f6;
$picton-blue: #4db4de;
$red: #c92100;
$scooter: #33aada;
$white: #fff;
